{% extends "base.html" %}

{% block title %}ARez' Projects{% endblock %}


{% block content %}
<main class="px-3 py-4">
  <h1>Overview of my projects</h1>

  <div class="container py-2 my-4">
    <div class="btn-toolbar justify-content-between my-2" role="toolbar" aria-label="Filter button toolbar">
      <div class="btn-group" role="group" aria-label="Filter button group">
        <button type="button" class="btn btn-outline-secondary">Rust</button>
        <button type="button" class="btn btn-outline-secondary">Python</button>
        <button type="button" class="btn btn-outline-secondary">Godot</button>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for projects" aria-label="Project search bar" aria-describedby="btnGroupAddon2">
      </div>
    </div>
  </div>
    
  {% for project in project_list %}
  <div class="container py-2 my-4">
    <div class="row flex-lg-row-reverse align-items-center p-3 shadow-lg border rounded-3 {% cycle '' 'bg-body-tertiary' %}"> <!-- {% cycle 'bg-body-tertiary' 'bg-body-secondary' %}-->
      <div class="col-lg-6 p-2">
        {% load static %}
        <img src="{% static 'img/twinhook_cover.png' %}" class="d-block mx-lg-auto img-fluid shadow" alt="Twinhook cover" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{project.title}}</h1>
        
        <p class="lead mb-4">{{project.description}}</p>

        {% if project.tasks != "" %}
        <h3>Challenges of this project:</h3>
        <div class="text-start lh-md mb-4" style="white-space:pre-wrap">{{project.tasks}}</div>
        {% endif %}

        {% if project.link != "" %}
        <h3>Link to the project page</h3>
        <a class="icon-link icon-link-hover mb-4" href="{{project.link}}">
          {{project.link}}
          {% if 'itch' in project.link %}
          <i class="bi bi-shop"></i>
          {% elif 'steam' in project.link %}
          <i class="bi bi-steam"></i>
          {% elif 'github' in project.link %}
          <i class="bi bi-github"></i>
          {%endif%}
        </a>
        {% endif %}
        
      </div>
    </div>
  </div>
  {% endfor %}
</main>
{% endblock %}